* {
    box-sizing: border-box;
}
html {
    font-size: 13px;
}

h1 {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans'
}

body {
    padding: 0;
    margin:0;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}


header{
    align-content: center;
    text-align: center;
    margin-bottom: 10px;
}
.header img {
    height: 20px;
    margin-top: 20px;
    overflow: hidden;
}
.header h1 {
    margin-top: 20px;
    
}

.section__img {
    height: 300px;
    overflow: hidden;
}
.section__img  img {
    width: 100%;
    margin-bottom: 10px;
}

.wrapper{
    display: grid;
    grid-template-columns: minmax(1em,1fr) minmax(0,80em) minmax(1em,1fr);        
    align-items: center;   
    justify-content: center;
}
.section__2colums {
    grid-column: 2/3;
}
.fila1 {
    text-align: center;
    padding-top:20px;
}

.fila2 {
    padding-bottom: 20px;
    padding-top: 20px;

    display: grid;
    grid-template-columns: repeat(2,1fr);        
    align-items: center;   
    justify-content: space-between;
    grid-gap: 20px;
}


.columna1 {
    grid-column: 1/2;
}
.columna2 {
    grid-column: 2/3;
}


.section3columnsgeneral {
    background-color: purple;
}
.section__3columns {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(3,1fr);         
    align-items: center;      
    justify-items: space-between;
    grid-gap: 100px;
    margin-bottom: 10px;
}

.album{
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #fff;
    align-content: center;
    text-align: center;
    padding:10px 10px 10px 10px;
}
.album1 {
    grid-column: 1/2;
}
.album2 {
    grid-column: 2/3;
}
.album3 {
    grid-column: 3/4;
}

.section_1column {
    grid-column: 2/3;
    display: grid;        
    align-items: center;      
    justify-items: center;
    margin-bottom: 10px;
}

.filacompleta{
    grid-row: 4/9;
}

.section__fullsize {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    margin-bottom: 10px;
}

.element{
    text-align: center;
    align-content: center;
    background: orange;
}

footer {
    margin-bottom: 10px;
    height: 50px;
    background-color: blue;
    align-content: center;
    text-align: center;
}


